* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0px;
    overflow: hidden;
    background: #171723;
}

header {
    background: black;
    padding: 20px;
    color: white;
}

section {
    background-color: white;
}

div.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.container{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5vw 15vw 50vw 1fr;
    grid-template-rows: 8vh 1fr 1fr 8vh;
    gap:10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div{
    border: 1px solid white;
    padding: 10px;
}

.container .sideBar {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 2vh 2vw;
    background-color: aliceblue;
}

.container .canvasContainer{
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 2vh 2vw;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 100px;
}

h3 {
    color: white;
    font-size: 50px;
    font-weight: lighter;
}

button {
    border: none;
    background: #1B9CFC;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 64px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: normal;
    text-decoration: none;
}

canvas.webgl {
    position: fixed;
    left: 24vw;
    top: 15vh;
    width: 100px;
    height: 100px;
}